@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Basics */
body {
    background-color: rgba(0, 0, 0, 0.904);
    font-family: 'Varela Round', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
.button {
    border: 1px solid white;
    color: white;
    border-radius: 18px;
    padding: 10px 18px;
    background-color: rgba(0, 0, 0, 0.74);
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1ch;
}

/* Top Navbar */
nav {
    font-family: 'Ubuntu', sans-serif;
    width: 270px;
    position: sticky;
    top: 0;
    left: 0;
    float: left;
}
nav ul {  /*  if display is flex then Sift to horizontal */
    list-style-type: none;
    height: 530px;
    background-color: black;
    color: white;
    align-items: center;
}
nav ul li {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 18px;
    font-family: monospace;
}
.main-logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    padding: 8px 10px 10px 10px;

    margin-left: 10px;
    margin-bottom: 20px;
}



/* Main Conntainer */
.container {
    min-height: 75vh;
    margin-left: 270px;
    margin-top: 0vh;
    background-color: rgba(0, 0, 0, 0.952);
    color: white;
}

/* Main Section - Main Container */
.main-section {
    margin: 25px 10px 20px 40px;
}
.main-section aside {
    width: 280px;
    height: 14vh;
    background-color: black;
    margin: 20px 10px 20px;
    border-radius: 34px;
    box-shadow: 5px 5px 7px  rgba(0,0, 0,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    inset -3px -3px 5px rgba(0,0,0,0.5);
    position: relative;
}
.aside_banner img.main-logo{
    height: 10vh;
    width: auto;
    border-radius: 34px;
    margin: 5px 10px;
    float: left;
}
.aside_banner div {
    color: aquamarine;
    float: left;
    position: relative;
    top: 2.5vh;
    right: .8vh;
    font-size: 2.5vh;
    z-index: 10;
}
.aside_banner i {
    color: white;
    margin-left: 5px;
    cursor: pointer;
}
.giffy {
    height: 14vh;
    width: auto;
    float: none;
    position: absolute;
    top: 3vh;
    left: 18vh;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.flex {
    display: flex;
}
.container-logo {
    font-family: monospace;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 0;
    font-size: 30px;
}

/* Upper container */
.upper-container {
    background-color: rgba(39, 39, 226, 0.719);
    margin-left: 270px;
    width: 300px;
    min-height: 10vh;
    width: auto;
    position: sticky;
    top: 0;
    left: 270px;
    z-index: 11;
}
.user-id {
    float: right;
    margin-top: 12px;
    margin-right: 2vh;
    position: relative;
}
.upgrade {
    float: right;
    margin-top: 12px;
    margin-right: 2vh;
}
#upgrade {
    display: none;
    position: absolute;
    top: 60px;
    right: .8vh;
    width: auto;
    height: auto;
    background-color: white;
    margin-right: 20px;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}
#upgrade div {
    margin-bottom: 5px;
}

/* Bottom */

.bottom {
    position: sticky;
    height: 80px;
    background-color: black;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: white;
    clear: both;
    border-top: .5px solid rgba(255, 255, 255, 0.774);
}

.icons {
    width: auto;
    height: 40px;
}
.icon {
    margin-left: 5px;
    width: 25px;
    height: 25px;
    opacity: .9;
    margin-bottom: 0;
    cursor: pointer;
}
.bottom-banner {
    position: absolute;
    bottom: -2px;
    left: 10px;
    font-size: 1.9vh;
    z-index: 120;
    font-family: 'Ubuntu', sans-serif;
    width: 200px;
}
.bottom-banner .main-logo{
    height: 6vh;
    width: auto;
    float: left;
    border-radius: 34px;
}
.name {
    margin-top: 15px;
}
.myProgressBar {
    width: 60vw;
    height: .8vh;
    cursor: pointer;
}